body {
  background:#DDE2ED;
  font-family: Tahoma, Geneva, sans-serif;
}

#wrapper {
  border-radius: 4px;
  background:#B5BFD5;
  width: 70%;
  padding-top:.5em;
  padding-right:2em;
  padding-bottom:1em;
  padding-left:1em;
  margin: 0 auto;
}

#upload-form {
  border-radius:4px;
  background: #EEEEFF;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left:2em;
  border:1px solid black;
  margin-bottom:0.5em;
}

fieldset {
  padding-left: 0;
  border: none;
}

.form-block {
  display: inline;
}

label {
  display: inline-block;
  width:5em;
  margin-right:1em;
}

#display {
  border-radius:4px;
  background: #EEEEFF;
  padding: 1em;
  border:1px solid black;
}

ul {
  list-style: none;
}