body {
  background:#DDE2ED;
  font-family: Tahoma, Geneva, sans-serif;
}

#wrapper {
  border-radius: 4px;
  background:#B5BFD5;
  width: 70%;
  padding-top:.5em;
  padding-right:2em;
  padding-bottom:1em;
  padding-left:1em;
  margin: 0 auto;
}

#upload-form {
  border-radius:4px;
  background: #EEEEFF;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left:2em;
  border:1px solid gray;
  margin: 0 auto;
  margin-bottom:0.5em;
  text-align:center;
}

.form-block {
  display: inline-block;
}

label {
  display: inline-block;
  width:5em;
  margin-right:1em;
}

input[type=file] {
  background: #FEFEFE;
  color: gray;
  border-radius:2px;
}

#display {
  border-radius:4px;
  background: #EEEEFF;
  padding: 1em;
  border:1px solid gray;
}

table {
  background: #DDE2ED;
  border-top:1px solid gray;
  margin: 0 auto;
  width: 80%;
  text-align:center;
}

td {
  border-right:1px solid gray;
  border-bottom: 1px solid gray;
}

td:last-child {
  border-right: none;
}

a {
  text-decoration:none;
}
